<div class="card w-100">
  <img [src]="previewB64" class="card-img-top" alt="Expression">
  <div class="card-body">
    <h5 class="card-title">
      {{expression.data.name}}
      @if(isDefault) {
      <span class="badge bg-primary"
        title="This is the expression that will activate when the protogen face renderer is activated">Default</span>
      }
    </h5>

    <div class="card-body">

    </div>

    <button class="btn btn-success mt-1 me-1" (click)="activate()">Activate</button>
    @if(showEdit) {
    <button class="btn btn-danger mt-1 me-1" (click)="showDeletePrompt()">Delete</button>
    <button class="btn btn-primary mt-1 me-1" (click)="saveChanges()">Save</button>
    }
  </div>
</div>

<ng-template #deletePrompt let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="create-group-modal-title">Confirm delete</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this expression?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="confirmDelete()">Delete</button>
  </div>
</ng-template>