<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h1>System status</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 mt-2 mb-4">
      <div class="container-fluid">
        <div class="row mt-2">
          <div class="col-12">
            <h5>
              OS
              <i class="bi bi-ubuntu"></i>
            </h5>
          </div>

          <div class="col-12 mt-2">
            <span>
              OS Name:
              <span class="text-info">{{osName}}</span>
            </span>
          </div>

          <div class="col-12 mt-2">
            <div class="btn btn-danger" (click)="openShutdownModal()">Shutdown</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 mt-2 mb-4">
      <div class="container-fluid">
        <div class="row mt-2">
          <div class="col-12">
            <h5>
              HUD
              <i class="bi bi-display"></i>
            </h5>
          </div>

          <div class="col-12 mt-2">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="enableHud" [(ngModel)]="hudEnabled">
              <label class="form-check-label" for="enableHud">Enable HUD display</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 mt-2 mb-4">
      <div class="container-fluid">
        <div class="row mt-2">
          <div class="row mt-2">
            <div class="col-12">
              <h5>
                Hardware
                <i class="bi bi-pc"></i>
              </h5>
            </div>

            <div class="col-12 mt-1">
              <h6>Temperature</h6>
              <ngb-progressbar class="mt-1" [type]="temperatureColor" [value]="tempBarValue" [max]="100">
                {{realTemperature}} &deg;C
              </ngb-progressbar>
            </div>

            <div class="col-12 mt-1">
              <h6>CPU</h6>
              <ngb-progressbar class="mt-1" type="info" [value]="cpuUsage" [max]="100" [showValue]="true" />
            </div>

            <div class="col-12 mt-1">
              <h6>RAM</h6>
              <ngb-progressbar class="mt-1" type="info" [value]="ramUsage" [max]="100" [showValue]="true" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 mt-2 mb-4">
      <div class="container-fluid">
        <div class="row mt-2">
          <div class="col-12">
            <h5>
              Networking
              <i class="bi bi-pci-card-network"></i>
            </h5>
          </div>

          <div class="col-12 mt-2">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="showNetworkingData"
                [(ngModel)]="showSensitiveNetworkingData" (click)="showNetworkDataChanged($event)">
              <label class="form-check-label" for="showNetworkingData">Show sensitive data</label>
            </div>
          </div>

          <div class="col-12 mt-2">
            <span>
              Connectivity:
              @if(hasConnectivity) {
              <span class="badge bg-success">Yes</span>
              } @else {
              <span class="badge bg-danger">No</span>
              }
            </span>
          </div>

          <div class="col-12 mt-2">
            ISP:
            @if(showSensitiveNetworkingData) {
            <span class="text-info">{{isp}}</span>
            } @else {
            <span class="text-danger" title="Turn on 'Show sensitive data' to display networking info">[Hidden]</span>
            }
          </div>

          <div class="col-12 mt-2">
            IP:
            @if(showSensitiveNetworkingData) {
            <span class="text-info">{{ip}}</span>
            } @else {
            <span class="text-danger" title="Turn on 'Show sensitive data' to display networking info">[Hidden]</span>
            }
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 mt-2 mb-4">
      <div class="container-fluid">
        <div class="row mt-2">
          <div class="col-12">
            <h5>
              Flaschen Taschen
              <i class="bi bi-lightbulb-fill"></i>
            </h5>
          </div>

          <div class="col-12 mt-2">
            Documentation can be found <a
              href="https://github.com/hzeller/rpi-rgb-led-matrix?tab=readme-ov-file#lets-do-it"
              target="_blank">here</a>
          </div>

          <div class="col-md-6 col-12 mt-2">
            <div class="form-group">
              <label for="ft_led-slowdown-gpio">Slowdown GPIO</label>
              <input type="text" min="0" max="4" class="form-control" id="ft_led-slowdown-gpio"
                placeholder="Slowdown GPIO" [(ngModel)]="flaschenTaschenSettings.ledSlowdownGpio">
            </div>
          </div>

          <div class="col-md-6 col-12 mt-2">
            <div class="form-group">
              <label for="ft_led-limit-refresh">Limit refresh</label>
              <input type="text" min="1" max="1000" class="form-control" id="ft_led-limit-refresh"
                placeholder="Limit refresh" [(ngModel)]="flaschenTaschenSettings.ledLimitRefresh">
            </div>
          </div>

          <div class="col-12 mt-2">
            <button class="btn btn-warning mb-1 me-1" (click)="restartFlaschenTaschen()">Restart service</button>
            <button class="btn btn-primary mb-1 me-1" (click)="saveFlaschenTaschen()">Save and restart</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 mt-2 mb-4">
      <div class="container-fluid">
        <div class="row mt-2">
          <div class="col-12">
            <h5>
              Auth
              <i class="bi bi-people-fill"></i>
            </h5>
          </div>

          <div class="col-12 mt-2">
            <a class="btn btn-primary mb-1 me-1" routerLink="/users">User manager</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #shutdownModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-danger" id="shutdown-modal-title">Confirm shutdown</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Do you really want to shutdown the host os?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="shutdown()">Shutdown</button>
  </div>
</ng-template>