@if(this.auth.loggedIn) {
<app-navbar />

<router-outlet />

} @else if (this.auth.loginNeeded) {
<div class="container mt-4">
  <div class="row">
    <div class="col">
      <div class="modal show" style="display: block; position: initial;">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Login required</h5>
            </div>
            <div class="modal-body">
              <form [formGroup]="loginForm">
                <div class="mb-3">
                  <label for="auth_username" class="form-label">Username</label>
                  <input class="form-control" type="text" id="auth_username" name="username" formControlName="username"
                    placeholder="Username" [class.is-invalid]="wrongUsernameOrPassword" (keydown.enter)="tryLogin()">
                </div>

                <div class="mb-3">
                  <label for="auth_password" class="form-label">Password</label>
                  <input class="form-control" type="password" id="auth_password" name="password"
                    formControlName="password" placeholder="Password" [class.is-invalid]="wrongUsernameOrPassword"
                    (keydown.enter)="tryLogin()">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="tryLogin()"
                [disabled]="loginDisabled">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
} @else {
<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h1>Logging in...</h1>
    </div>
  </div>
</div>
}