<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h1>User manager</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Username</th>
            <th class="t-fit">Is admin</th>
            <th class="t-fit"></th>
            @if(isAdmin) {
            <th class="t-fit"></th>
            }
          </tr>
        </thead>

        <tbody>
          @for (user of users; track $index) {
          <tr>
            <td>
              {{user.username}}
              @if(user.id == userId) {
              <span class="badge bg-info"
                title="This is the user you are logged in as. Deleting it might not be a good idea :3">You</span>
              }
            </td>
            <td>
              @if(user.superUser) {
              <span class="badge bg-success">Yes</span>
              } @else {
              <span class="badge bg-danger">No</span>
              }
            </td>
            <td>
              <button class="btn btn-primary btn-text-nowrap" [disabled]="user.id != userId && !isAdmin"
                (click)="showPasswordChange(user)">
                Change password
              </button>
            </td>

            @if(isAdmin) {
            <th class="t-fit">
              <button class="btn btn-danger" (click)="showDeletePrompt(user)">Delete</button>
            </th>
            }
          </tr>
          }
        </tbody>

        <tbody>
          <tr>
            @if(isAdmin) {
            <td colspan="3"></td>
            } @else {
            <td colspan="2"></td>
            }
            <td class="t-fit">
              <button class="btn btn-primary w-100" (click)="showNewUserPrompt()">Add</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #deleteUserPrompt let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="create-group-modal-title">Delete user</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>
      Please confirm that you want to delete the user <span class="text-info">{{deleteUserName}}</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="confirmDeleteUser()">Delete</button>
  </div>
</ng-template>

<ng-template #changePasswordPrompt let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="create-group-modal-title">Change password</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <h4>
      @if(isChangingOwnPassword) {
      Changing your own password
      } @else {
      Changing password of user <span class="text-info">{{passwordChangeUserName}}</span>
      }
    </h4>
    <form [formGroup]="changePasswordForm">
      @if(isChangingOwnPassword) {
      <div class="mb-2">
        <label for="oldUserPassword" class="form-label">Old password</label>
        <input type="password" name="username" id="oldUserPassword" class="form-control" formControlName="oldPassword"
          placeholder="Password" [class.is-invalid]="oldPasswordMissing || oldPasswordWrong"
          aria-describedby="oldUserPasswordProblem" autocomplete="current-password">
        <div id="oldUserPasswordProblem" class="invalid-feedback">
          @if(oldPasswordMissing) {
          Old password needed to change password
          } @else if(oldPasswordWrong){
          Wrong old password
          }
        </div>
      </div>
      }

      <div class="mb-2">
        <label for="changePasswordNewPassword" class="form-label">New password</label>
        <input type="password" name="username" id="changePasswordNewPassword" class="form-control"
          formControlName="newPassword" placeholder="Password"
          [class.is-invalid]="passwordEmpty || passwordsNotMatching" aria-describedby="changePasswordNewPasswordProblem"
          autocomplete="new-password">
        <div id="changePasswordNewPasswordProblem" class="invalid-feedback">
          @if(passwordEmpty) {
          Password can not be empty
          } @else if(passwordsNotMatching){
          Passwords not matching
          }
        </div>
      </div>

      <div class="mb-2">
        <label for="changePasswordConfirmPassword" class="form-label">Confirm password</label>
        <input type="password" name="username" id="changePasswordConfirmPassword" class="form-control"
          formControlName="confirmNewPassword" placeholder="Confirm password" [class.is-invalid]="passwordsNotMatching"
          aria-describedby="changePasswordConfirmPasswordProblem" autocomplete="on">
        <div id="changePasswordConfirmPasswordProblem" class="invalid-feedback">
          Passwords not matching
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Cancel click')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="confirmChangePassword()">Change password</button>
  </div>
</ng-template>

<ng-template #newUserPrompt let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="create-group-modal-title">Add user</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newUserForm">
      <div class="mb-2">
        <label for="newUserName" class="form-label">Username</label>
        <input type="text" name="username" id="newUserName" class="form-control" formControlName="username"
          placeholder="Username" [class.is-invalid]="usernameTaken || usernameEmpty"
          aria-describedby="newUserUsernameProblem" maxlength="32">
        <div id="newUserUsernameProblem" class="invalid-feedback">
          @if(usernameEmpty) {
          Username can not be empty
          } @else if(usernameTaken) {
          Username already taken
          }
        </div>
      </div>

      <div class="mb-2">
        <label for="newUserPassword" class="form-label">Password</label>
        <input type="password" name="username" id="newUserPassword" class="form-control" formControlName="password"
          placeholder="Password" [class.is-invalid]="passwordEmpty || passwordsNotMatching"
          aria-describedby="newUserPasswordProblem">
        <div id="newUserPasswordProblem" class="invalid-feedback">
          @if(passwordEmpty) {
          Password can not be empty
          } @else if(passwordsNotMatching){
          Passwords not matching
          }
        </div>
      </div>

      <div class="mb-2">
        <label for="newUserPassword2ElectricBoogaloo" class="form-label">Confirm password</label>
        <input type="password" name="username" id="newUserPassword2ElectricBoogaloo" class="form-control"
          formControlName="confirmPassword" placeholder="Confirm password" [class.is-invalid]="passwordsNotMatching"
          aria-describedby="newUserPasswordConfirmProblem">
        <div id="newUserPasswordConfirmProblem" class="invalid-feedback">
          Passwords not matching
        </div>
      </div>

      <div class="mb-2">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="newUserAdmin" formControlName="admin">
          <label class="form-check-label" for="newUserAdmin"
            title="Admin accounts can create new users and manage sensitive information">Admin account</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Cancel click')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="confirmCreateUser()">Add user</button>
  </div>
</ng-template>