# ====== Hardware ======
# Select what hardware to target.
# This is at the moment only used to switch between real and emulated hardware
HARDWARE="STANDARD"

# ====== Web Server ======
PORT="3000"
# If set a local server running with https will also be started
LOCAL_HTTPS_PORT="3001"
# If true web requests will be logged to the console
LOG_REQUESTS_IN_CONSOLE="false"

# ====== Database ======
DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_USERNAME="root"
DB_PASSWORD="root"
DB_DATABASE="protogen"
DB_LOGGING="true"

# ====== Flaschen taschen ======
FT_HOST="127.0.0.1"
FT_PORT="1337"
FT_CONFIG_FILE="/home/pi/ft_config.txt"
# This can be used to change the default params for ft server. If you use custom led size or other hat you need to change this
#FT_CUSTOM_PARAMS="--led-cols=64 --led-rows=32 --led-chain=2 --led-gpio-mapping=adafruit-hat"

# ====== LED Matrix ======
LED_WIDTH="128"
LED_HEIGHT="32"

# ====== Remote Worker ======
# Video downloading and processing server.
# Its recommended to set up an external video processing server to offload the work from the main system.
REMOTE_WORKER_URL="http://192.168.1.200:8123/"
REMOTE_WORKER_KEY=""

# ====== Serial ======
# Set to false to disable all systems requiring the pi pico
ENABLE_SERIAL="true"
SERIAL_PORT="/dev/ttyACM0"
SERIAL_BAUD_RATE="230400"

# ====== HUD ======
# Enable the HUD module. Requires serial to be enabled and the coresponding hardware.
ENABLE_HUD="true"
OLED_TEXT_LINES="5"

# ====== RGB ======
# Enable the RGB module. Requires serial to be enabled and the corresponding hardware.
ENABLE_RGB="true"
RGB_LED_COUNT=48
RGB_REFRESH_RATE=10

# ====== Boop sensor ======
ENABLE_BOOP_SENSOR="true"

# ====== Misc ======
VISOR_PREVIEW_INTERVAL="333"

# ====== MQTT ======
MQTT_HOST="127.0.0.1"
MQTT_PORT="1883"

# ====== Setup ======
# Uncomment to disable setting up default profiles when starting
# NO_INITIAL_SETUP="true"
