<div class="card w-100">
  @if(hasPreview) {
  <img [src]="previewSrc" class="card-img-top" [alt]="renderer.name">
  }
  <div class="card-body">
    <h5 class="card-title">{{renderer.name}}</h5>

    <button class="btn btn-success mt-1 me-1" (click)="activate()">Activate</button>
    @if(isCustomisableImageType) {
    <a class="btn btn-primary mt-1 me-1" routerLink="/visor/image/{{renderer.id}}">Edit</a>
    }

    @if(isFace) {
    <a class="btn btn-primary mt-1 me-1" routerLink="/visor/face">Settings</a>
    }
  </div>
</div>