<div class="container">
  <div class="row">
    <div class="col">
      <h1>Passwordless sign in</h1>
    </div>
  </div>

  <div class="row">
    <p>Enter the code from the other device in the box below to log them in</p>
    <div class="input-group mt-2">
      <div class="col">
        <input type="text" class="form-control" placeholder="Code" [(ngModel)]="code"
          (keydown.enter)="approveLogin()" />
      </div>
      <button class="btn btn-primary" (click)="approveLogin()">Login</button>
    </div>
    <p class="text-danger mt-2">
      Warning: This will log the other device in as your user. Make sure the other device is secure and that the code is
      matching what you see on your other device.
    </p>
  </div>
</div>

<ng-template #confirmScannedCodeModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="create-group-modal-title">Confirm signin</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <p>
        Confirm that the code is matching the one on your other device.
      </p>
      <h1 class="text-info signin-key-auth-page">
        {{code}}
      </h1>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary me-1 mt-1" (click)="modal.close()">Cancel</button>
    <button type="button" class="btn btn-danger me-1 mt-1" (click)="approveLogin()">Confirm</button>
  </div>
</ng-template>