[Unit]
Description=Protogen OS
After=network.target mariadb.service
Requires=mariadb.service

[Service]
Type=simple
ExecStart=npm run dev
WorkingDirectory=/home/pi/protogen/backend
Restart=no
User=pi
Environment="XDG_RUNTIME_DIR=/run/user/1000"
ExecStartPre=/bin/mkdir -p /run/user/1000
ExecStartPre=/bin/chown pi:pi /run/user/1000

[Install]
WantedBy=multi-user.target