[Unit]
Description=Steam Controller Wrapper
After=network.target
Documentation=https://github.com/bnpfeife/scwrapper

[Service]
Type=simple
ExecStart=/home/pi/scwrapper/bin/scwrapper
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
