<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h1>Dashboard</h1>
    </div>
  </div>

  <div class="row mt-lg-4">
    <div class="col-12">
      <h4>Actions</h4>
    </div>

    @if(actions.length == 0) {
    <div class="col-12">
      <p>No actions configured to be displayed on dashboard</p>
    </div>
    }

    @for (action of actions; track $index) {
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
      <app-dashboard-action-card [action]="action" />
    </div>
    }
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h4>Face expressions</h4>
    </div>

    @if(actions.length == 0) {
    <div class="col-12">
      <p>No face expressions defined</p>
    </div>
    }

    @for (expression of expressions; track $index) {
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
      <app-dashboard-expression-card [expression]="expression" />
    </div>
    }
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h4>RGB Scenes</h4>
    </div>

    <div class="col-12 mt-1">
      <button class="btn btn-secondary" (click)="disableRgb()">Disable RGB</button>
    </div>

    @if(actions.length == 0) {
    <div class="col-12 mt-1">
      <p>No RGB scenes defined</p>
    </div>
    }

    @for (scene of rgbScenes; track $index) {
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
      <app-dashboard-rgb-card [scene]="scene" />
    </div>
    }
  </div>
</div>