<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h1>Protogen face editor</h1>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <div class="d-block">
          <h5 class="text-center">Visor Preview</h5>
          <app-visor-live-preview />
        </div>
      </div>
    </div>
    <hr class="mt-1">
  </div>

  <div class="row mt-2">
    <div class="col-12">
      <h4>Expressions</h4>
    </div>

    <div class="col-auto mt-2 mb-2">
      <div title="Select the expression that will activate when the protogen face renderer is activated">
        <label for="face_default_expression" class="form-label">Default expression</label>
        <select class="form-select" id="face_default_expression" aria-describedby="face_default_expression_info"
          [(ngModel)]="defaultExpression" (change)="defaultExpressionChanged($event)">
          <option value="">None</option>
          @for (expression of faceExpressions; track $index) {
          <option value="{{expression.data.uuid}}">
            {{expression.data.name}}
          </option>
          }
        </select>
        <div class="form-text" id="face_default_expression_info">Select expression to activate when face renderer is
          activated</div>
      </div>
    </div>

    <div class="col-12 mb-2">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="showEditOptions" [(ngModel)]="showEdit">
        <label class="form-check-label" for="showEditOptions">Show edit options</label>
      </div>
    </div>

    @for (expression of faceExpressions; track $index) {
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-2">
      <app-protogen-expression-card [expression]="expression" [isDefault]="isDefault(expression)" [showEdit]="showEdit"
        [faceColorEffects]="faceColorEffects" (deleted)="expressionDeleted(expression)" />
    </div>
    }

    <div class="col-12 mt-2">
      <button class="btn btn-primary" (click)="openNewExpressionModal()">Add new expression</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <hr>
    </div>

    <div class="col-12 mt-2">
      <h4>Face RGB effects</h4>
      <button class="btn btn-secondary" (click)="deactivate()">Deactivate RGB effect</button>
    </div>

    @for (rgbEffect of faceColorEffects; track $index) {
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-2">
      <app-face-color-effect-card [effect]="rgbEffect" [showEdit]="showEdit" [lockInputs]="lockInputs || !showEdit"
        [effectTypes]="faceColorEffectTypes" (deleted)="visorEffectDelete($event)" />
    </div>
    }

    <div class="col-12 mt-2">
      <button class="btn btn-primary" (click)="showNewEffect()">New RGB effect</button>
    </div>
  </div>
</div>

<ng-template #newExpressionPrompt let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="create-group-modal-title">Add expression</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newExpressionForm">
      <div class="mb-2">
        <label for="newExpressionName">Name</label>
        <input type="text" placeholder="Name" class="form-control" id="newExpressionName" formControlName="name"
          [class.is-invalid]="nameInUse || nameInvalid" aria-labelledby="validationExpressionName" />
        <div class="invalid-feedback" id="validationExpressionName">
          @if(nameInUse) {
          Name is already in use
          } @else {
          Name is required
          }
        </div>
      </div>

      <div class="mb-2">
        <app-visor-asset-picker formControlName="image" [showInvalid]="imageMissing" />
      </div>

      <div class="mb-3">
        <div class="form-check form-switch" title="Mirror image on visor">
          <input class="form-check-input" type="checkbox" role="switch" id="face_image_mirror"
            formControlName="mirrorImage">
          <label class="form-check-label" for="face_image_mirror">Mirror image</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-check form-switch" title="Flip right side image">
          <input class="form-check-input" type="checkbox" role="switch" id="face_image_rflip"
            formControlName="flipRightSide">
          <label class="form-check-label" for="face_image_rflip">Flip right side</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-check form-switch" title="Flip left side image">
          <input class="form-check-input" type="checkbox" role="switch" id="face_image_lflip"
            formControlName="flipLeftSide">
          <label class="form-check-label" for="face_image_lflip">Flip left side</label>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-check form-switch" title="Allow white pixels to be adjusted by face rgb effects">
          <input class="form-check-input" type="checkbox" role="switch" id="face_image_color_mod"
            formControlName="replaceColors">
          <label class="form-check-label" for="face_image_color_mod">Apply color mod</label>
          <p>
            If enabled all fully white pixels will be replaced by colors from enabled face rgb effect
          </p>
        </div>
      </div>

      <div class="mb-3">
        <label for="face_image_color_effect">Forced color effect</label>
        <select id="face_image_color_effect" class="form-select" formControlName="linkedColorEffectId">
          <option [value]="null">None</option>
          <optgroup label="Effects">
            @for (effects of faceColorEffects; track $index) {
            <option [value]="effects.id">{{effects.name}}</option>
            }
          </optgroup>
        </select>
        <p>
          If a forced color effect is set this expression will always use that color effect
        </p>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Cancel click')"
      [disabled]="lockInputs">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="addNewExpression()" [disabled]="lockInputs">Save</button>
  </div>
</ng-template>

<ng-template #newFaceRgbEffectPrompt let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="create-group-modal-title">Add effect</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newFaceRgbEffectForm">
      <div class="mb-2">
        <label for="newEffectName">Name</label>
        <input type="text" placeholder="Name" class="form-control" id="newEffectName" formControlName="name"
          [class.is-invalid]="nameInUse || nameInvalid" aria-labelledby="validationEffectName" />
        <div class="invalid-feedback" id="validationEffectName">
          @if(nameInUse) {
          Name is already in use
          } @else {
          Name is required
          }
        </div>
      </div>

      <div class="mb-2">
        <label for="newEffectType">Type</label>
        <select class="form-select" id="newEffectType" formControlName="type">
          @for (effectType of faceColorEffectTypes; track $index) {
          <option value="{{effectType.name}}">
            {{effectType.description}}
          </option>
          }
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Cancel click')"
      [disabled]="lockInputs">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="addNewEffect()" [disabled]="lockInputs">Save</button>
  </div>
</ng-template>
