<button class="btn btn-primary"
  title="Use another device to authenticate. This option can be used to authenticate on other devices where typing your password could be hard, like your smartwatch."
  [disabled]="disableButton" (click)="beginPasswordlessSignIn()">
  Passwordless sign in
</button>

<ng-template #passwordlessSigninPrompt let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="create-group-modal-title">Passwordless sign in</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="cancelRequest()"></button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <p>Go to <a [href]="authUrl" target="_blank">{{authUrl}}</a> on another device and follow the instructions to sign
        in.</p>

      <h1 class="text-info signin-key" (click)="copyCode()" title="Click to copy code to your clipboard">{{signinKey}}
      </h1>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="cancelRequest()">Cancel</button>
  </div>
</ng-template>