/* Importing Bootstrap SCSS file. */
@use "bootstrap/scss/bootstrap";

// regular style toast
@use "ngx-toastr/toastr";

@use "bootstrap-icons/font/bootstrap-icons.scss";

@use "@xterm/xterm/css/xterm.css";

html,
body,
app-root {
  min-height: 100vh;
  overflow: auto;
}

.t-fit {
  white-space: nowrap;
  width: 1%;
}