<div class="row">
  <div class="col">
    <label for="inputType_{{componentId}}" class="form-label">Input</label>
    <input type="text" id="inputType_{{componentId}}" [value]="inputTypeString" readonly class="form-control"
      [disabled]="disabled">
  </div>
  <div class="col">
    <label for="action_{{componentId}}" class="form-label">Action</label>
    <select class="form-select" id="action_{{componentId}}" [(ngModel)]="action.actionType" [disabled]="disabled">
      @for (action of actionList; track $index) {
      <option [value]="action">{{translateActionName(action)}}</option>
      }
    </select>
  </div>

  <div class="col">
    @if(actionTypeAsString == "PLAY_VIDEO") {
    <label for="video_{{componentId}}" class="form-label">Video</label>
    <select class="form-select" id="video_{{componentId}}" [(ngModel)]="action.action" [disabled]="disabled">
      @for (video of actionDataSet.savedVideos; track $index) {
      <option value="{{video.id}}">{{video.name}}</option>
      }
    </select>
    } @else if(actionTypeAsString == "ACTIVATE_VISOR_RENDERER") {
    <label for="renderer_{{componentId}}" class="form-label">Renderer</label>
    <select class="form-select" id="renderer_{{componentId}}" [(ngModel)]="action.action" [disabled]="disabled">
      @for (renderer of actionDataSet.visorRenderers; track $index) {
      <option value="{{renderer.id}}">{{renderer.name}}</option>
      }
    </select>
    } @else if(actionTypeAsString == "ACTIVATE_RGB_SCENE") {
    <label for="rgb_{{componentId}}" class="form-label">RGB Scene</label>
    <select class="form-select" id="rgb_{{componentId}}" [(ngModel)]="action.action" [disabled]="disabled">
      @for (rgbScene of actionDataSet.rgbScenes; track $index) {
      <option value="{{rgbScene.id}}">{{rgbScene.name}}</option>
      }
    </select>
    } @else if(actionTypeAsString == "FACE_EXPRESSION") {
    <label for="expression_{{componentId}}" class="form-label">Expression</label>
    <select class="form-select" id="expression_{{componentId}}" [(ngModel)]="action.action" [disabled]="disabled">
      @for (expression of actionDataSet.expressions; track $index) {
      <option value="{{expression.data.uuid}}">{{expression.data.name}}</option>
      }
    </select>
    } @else if(actionTypeAsString == "DISABLE_RGB" ||actionTypeAsString == "STOP_VIDEO") {
    <!-- No parameters -->
    } @else if(actionTypeAsString != "NONE") {
    <span class="text-danger">Unknown action type</span>
    }
  </div>
</div>