<div class="row">
  <div class="col">
    <label for="inputType_{{componentId}}" class="form-label">Input</label>
    <input type="text" id="inputType_{{componentId}}" [value]="inputTypeString" readonly class="form-control">
  </div>
  <div class="col">
    <label for="action_{{componentId}}" class="form-label">Action</label>
    <select class="form-select" id="action_{{componentId}}" [(ngModel)]="action.actionType">
      @for (action of actionList; track $index) {
      <option [value]="action">{{translateActionName(action)}}</option>
      }
    </select>
  </div>

  <div class="col">
    @if(actionTypeAsString == "PLAY_VIDEO") {
    <label for="video_{{componentId}}" class="form-label">Video</label>
    <select class="form-select" id="video_{{componentId}}" [value]="action.action">
      @for (video of actionDataSet.savedVideos; track $index) {
      <option value="{{video.id}}">{{video.name}}</option>
      }
    </select>
    {{action.action}}
    } @else if(actionTypeAsString != "NONE") {
    <span class="text-danger">Unknown action type</span>
    }
  </div>
</div>