# ===== Cloudflare tunnel =====
# You can generate a tunnel token here: https://dash.cloudflare.com/?to=/:account/tunnels/create
# Only use this if you decide to use cloudflare tunnel to expose the server
# In cloudflare enter the Service URL as http://localhost:80
# This will expose the Protogen web interface running on port 80 to the internet

CLOUDFLARE_TUNNEL_TOKEN=your_tunnel_token_here
