<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>Remote preview</h4>
    </div>

    <div class="col-12 mt-2">
      <div>
        <canvas [width]="width" [height]="height" #remotePreviewCanvas></canvas>
      </div>

      @if(showStateText) {
      <div>
        X: <span class="text-info">{{joystickState.joystickX}}</span><br>
        Y: <span class="text-info">{{joystickState.joystickY}}</span><br>
        Pressed:
        @if(joystickState.joystickPressed) {
        <span class="text-success">Yes</span>
        } @else {
        <span class="text-danger">No</span>
        }
      </div>
      }
    </div>

    <div class="col-12 mt-2">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="remote_invertX"
          (change)="onInvertXToggle($event)" [(ngModel)]="invertX">
        <label class="form-check-label" for="remote_invertX">Invert X</label>
      </div>

      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="remote_invertY"
          (change)="onInvertYToggle($event)" [(ngModel)]="invertY">
        <label class="form-check-label" for="remote_invertY">Invert Y</label>
      </div>

      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="remote_invertAxis"
          (change)="onInvertAxisToggle($event)" [(ngModel)]="invertAxis">
        <label class="form-check-label" for="remote_invertAxis">Swap X and Y</label>
      </div>
    </div>
  </div>
</div>