<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>Remote preview</h4>
    </div>

    <div class="col-12 mt-2">
      <div>
        <canvas [width]="width" [height]="height" #remotePreviewCanvas></canvas>
      </div>

      @if(showStateText) {
      <div>
        X: <span class="text-info">{{joystickState.joystickX}}</span><br>
        Y: <span class="text-info">{{joystickState.joystickY}}</span><br>
        Pressed:
        @if(joystickState.joystickPressed) {
        <span class="text-success">Yes</span>
        } @else {
        <span class="text-danger">No</span>
        }
      </div>
      }
    </div>
  </div>
</div>