# ===== Secrets =====
SECRET_PROVIDER="env"

# ===== Web server =====
PORT="3001"
#SSL_KEY=""
#SSL_CERT=""
TRUST_PROXY="true"

# Specify the path of the cookies file. By default its ./cookies/cookies.txt
#COOKIES_PATH="./cookies.txt"

# Set to true to enable auto update of the video processing server. This will check for updates on startup and every midnight and update if a new version is available.
# This is recommended since youtube often break the video downloading and processing and an update is often required to fix it.
AUTO_UPDATE="true"

# API key for server. Leave empty to disable auth
API_KEY=""